<div class="container">
  <h1>Pages#about</h1>
  <p>Find me in app/views/pages/about.html.erb</p>
  <%# <%= link_to 'We can call it anything we want over here', the_path that we want to link it to. Remember to check on the second Sentence of the error should you see an error %> 
  <%= link_to 'Home', root_path %>
</div>