<div class="container">
  <h1>This is the about page</h1>
  <p>Lorem ipsum Iusto non autem omnis amet, veritatis neque quos delectus eum dicta labore, nostrum dolor, enim debitis.</p>
  <%# <%= link_to 'We can call it anything we want over here', the_path that we want to link it to. Remember to check on the second Sentence of the error should you see an error %> 
  <%= link_to 'Home', root_path %>
</div>