<div class="container">
  <h1>My personal blog page</h1>
  <p>You can read more about me, or checkout my blog.</p>
  <%= link_to 'About Page', pages_about_path %>
  <%= link_to 'Blog Posts', posts_path %>
</div>